<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'AppBlog\css\style.css' %}" />
  
    <title>CienciAR |{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg shadow-sm px-3 d-flex">
        <div class="container-fluid">
          <!-- Logo + Marca -->
          <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
            <img
              src="https://via.placeholder.com/40"
              alt="Logo"
              width="40"
              height="40"
              class="rounded-circle me-2"
            />
            <strong>CienciAR</strong>
          </a>

          <!-- Ítems del menú a la derecha -->
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Profesores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'students_list' %}">Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'papers_list' %}">Papers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Artículos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="d-flex flex-column align-items-center justify-content-center">
      {% block content %} {% endblock %}
    </main>
    <footer>
      <div class="d-flex flex-column align-items-center justify-content-center text-center p-3 bg-light">
        <p> Este es el footer</p>

        <p>&copy; 2025 Mi Sitio Web</p>
      </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
