<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi sitio{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <li>Profesores</li>
            <li>Alumnos</li>
            <li>Papers</li>
            <li>Artículos</li>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        
    </footer>
</body>
</html>