{% extends "AppBlog/base.html" %}
{% load static %}

{% block title %}
    Home - Papers
{% endblock %}

{% block content %}
    <h1>Papers</h1>
    <div class="options d-flex justify-content-center align-items-center gap-2 flex-wrap">
        <div class="option1 d-flex justify-content-center align-items-center gap-2">
            <a href="{% url 'papers_list' %}" class="btn btn-primary">
                Ver Lista de Papers
            </a>
        </div>
        <div class="option1 d-flex justify-content-center align-items-center gap-2">
            <a href="{% url 'papers_search' %}" class="btn btn-primary">
                Buscar Paper
            </a>
        </div>
        <div class="option3">
            <a href="{% url 'papers_form' %}" class="btn btn-secondary">
                Formulario para agregar un nuevo paper
            </a>
        </div>
    </div>
    
{% endblock %}