{% extends 'AppBlog/base.html' %}
{% load static %}

{% block title %}
    Búsqueda de estudiantes
{% endblock %}

{% block content %}
    <h1>Búsqueda de estudiantes</h1>

    <h2>Buscar estudiante por</h2>
    <p>Utiliza el formulario a continuación para buscar estudiantes por nombre, carrera o universidad.</p>
<form action="{% url 'students_results' %}" method="get" class="mb-4">
  {% csrf_token %}

  <!-- Campo de texto para la búsqueda -->
  <input name="keyword" type="text" placeholder="Buscar..." class="form-control mb-3" value="{{ keyword }}">

  <!-- Dropdown para elegir el criterio de búsqueda -->
  <select name="filtro" class="form-select mb-3">
    <option value="name" {% if filtro == 'name' %}selected{% endif %}>Nombre</option>
    <option value="last_name" {% if filtro == 'last_name' %}selected{% endif %}>Apellido</option>
    <option value="age" {% if filtro == 'age' %}selected{% endif %}>Edad</option>
    <option value="email" {% if filtro == 'email' %}selected{% endif %}>E-mail</option>
    <option value="career" {% if filtro == 'career' %}selected{% endif %}>Carrera</option>
    <option value="college" {% if filtro == 'college' %}selected{% endif %}>Institución</option>
  </select>

  <button type="submit" class="btn btn-primary">Buscar</button>
</form>


{% endblock %}