{% extends 'AppBlog/base.html' %}

{% block title %} Estudiantes {% endblock %}

{% block content %}
<h1>Lista de estudiantes</h1>

<h2>Podes buscar un estudiante</h2>

<input type="search" class="form-control m-3 p-2  " placeholder="Buscar estudiante...">

{% if students %}
<div class="bg-light rounded">

    <table class="table table-striped rounded table-hover">
        <tr>
            <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Email</th>
        <th>Carrera</th>
        <th>Institución</th>
    </tr>
    {% for student in students %}
    <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.career }}</td>
            <td>{{ student.college }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% else %}
    <p>No hay estudiantes registrados.</p>
{% endif %}
{% endblock %}