{% extends 'AppBlog/base.html' %}
{% load static %}

{% block title %}
    Búsqueda de profesores
{% endblock %}

{% block content %}
    <h1>Búsqueda de profesores</h1>

    <h2>Buscar profesor por</h2>
    <p>Utiliza el formulario a continuación para buscar profesores por nombre, curso o universidad.</p>
    <form action="{% url 'teachers_results' %}" method="get" class="mb-4">
      {% csrf_token %}

      <!-- Campo de texto para la búsqueda -->
      <input name="keyword" type="text" placeholder="Buscar..." class="form-control mb-3" value="{{ keyword }}">

      <!-- Dropdown para elegir el criterio de búsqueda -->
      <select name="filtro" class="form-select mb-3">
        <option value="name" {% if filtro == 'name' %}selected{% endif %}>Nombre</option>
        <option value="last_name" {% if filtro == 'last_name' %}selected{% endif %}>Apellido</option>
        <option value="email" {% if filtro == 'email' %}selected{% endif %}>E-mail</option>
        <option value="specialty" {% if filtro == 'course' %}selected{% endif %}>Curso</option>
        <option value="college" {% if filtro == 'college' %}selected{% endif %}>Institución</option>
      </select>

      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
{% endblock %}