* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}
nav {
    background: linear-gradient(360deg, #0077b6, #00b4d8, #90e0ef);
}

main {
  background-color: lightcoral;
}
footer {
    background-color: lightblue;
}
li {
  border-right: 1px solid #ccc;
}
ul :last-child {
  border-right: none;
}
