{% extends "AppBlog/base.html" %} 
{% block title %}Formularios Artículos {% endblock %} 
{% block extra_main_classes %} no-flex-column {% endblock %} 
{% block content %}
<h1 class="text-center">Formulario de Artículos Informativos</h1>
<div class="articles_form_container p-2 text-center align-items-center justify-content-center gap-4">
{% load static %}
<form method="post" action="{% url 'articles_form' %}">
  {% csrf_token %}
  <div class="form-grid">

    <div class="autor mb-2">
      <h3>Datos del Autor</h3>
      {{ form.author_name.label_tag }} {{ form.author_name }}
      {{ form.author_last_name.label_tag }} {{ form.author_last_name }}
      {{ form.author_email.label_tag }} {{ form.author_email }}
    </div>

    <!-- Área completa -->
    <div class="texto d-flex flex-column mb-2">
            <h3>Datos del Paper</h3>

      {{ form.subject.label_tag }} {{ form.subject }}
      {{ form.title.label_tag }} {{ form.title }}
      {{ form.resume.label_tag }} {{ form.resume }}
      {{ form.text_article.label_tag }} {{ form.text_article }}
    </div>
  </div>
<div class="buttons_div align-items-center justify-content-center">
  <button type="reset" class="btn btn-danger mt-3 text-center">Restablecer</button>
  <button type="submit" class="btn btn-primary mt-3 text-center">Enviar</button>
</div>
</form>





  {% endblock %} {% block extra_content %} {% if form.errors %}
  <div class="alert alert-danger mt-3">
    <strong>Errores en el formulario:</strong>
    <ul>
      {% for field in form %} {% for error in field.errors %}
      <li>{{ error }}</li>
      {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %} {% endblock %}
